
<h1>{{title}}</h1>

<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="show = true && show2 = false" >Item 1</button>
  <button mat-menu-item (click)="show2 = true" >Item 2</button>
</mat-menu>

<nav>
  <a routerLink="/certificat"> Create Certificate</a>
</nav>

<router-outlet></router-outlet>

<div *ngIf="show == true" >
<app-certificat></app-certificat>
</div>

<div>
<app-key-store></app-key-store>
</div>

<div>
<app-select-key-store></app-select-key-store>
</div>
