
<mat-tab-group>
<mat-tab label="Lodging">

<mat-tab-group>
<mat-tab label="Type of Lodging">  <app-type-lodging> </app-type-lodging>  </mat-tab>
<mat-tab label="Category of Lodging"> <app-category-lodging> </app-category-lodging>  </mat-tab>
<mat-tab label="Additional services">   <app-additional-lodging></app-additional-lodging>   </mat-tab>
</mat-tab-group>

</mat-tab>

<mat-tab label="Comments of Users ">Content 2  </mat-tab>
<mat-tab label="users">Content 3  </mat-tab>
<mat-tab label="Add agents">Content 4  </mat-tab>

</mat-tab-group>
