<mat-tab-group>
  <mat-tab label="Lodging">

    <mat-tab-group>
      <mat-tab label="Type of Lodging">
        <app-type-lodging></app-type-lodging>
      </mat-tab>
      <mat-tab label="Category of Lodging">
        <app-category-lodging></app-category-lodging>
      </mat-tab>
      <mat-tab label="Additional services">
        <app-additional-lodging></app-additional-lodging>
      </mat-tab>
    </mat-tab-group>

  </mat-tab>

  <mat-tab label="Comments of Users ">
    <app-comment></app-comment>
  </mat-tab>
  <mat-tab label="users">
    <app-users></app-users>
  </mat-tab>
  <mat-tab label="Add agents">
    <app-add-agent></app-add-agent>
  </mat-tab>

</mat-tab-group>
