<div class="col-md-2">
</div>
<div class="col-md-4 col-md-offset-2">
  <h3>Password change</h3>
  <form>
    <label>Old password </label>
    <input [(ngModel)]="oldPw" type="password" class="form-control" name="oldPw"
           placeholder="Enter old password">
    <label>New password </label>
    <input [(ngModel)]="newPw1" type="password" class="form-control" name="newPw1"
           placeholder="Enter new password">
    <label>New password confirm </label>
    <input [(ngModel)]="newPw2" type="password" class="form-control" name="newPw2"
           placeholder="Enter new password again">
    <br>
    <button class="btn btn-warning" (click)="changePassword()">Change password</button>
  </form>
</div>


