<!--<p>-->
  <!--additional-lodging works!-->
  <!--(-->
  <!--• Parking-->
  <!--• WiFi-->
  <!--• Doručak-->
  <!--• Polupansion-->
  <!--• Pansion-->
  <!--• TV-->
  <!--• Mini kuhinja/kuhinja-->
  <!--• Privatno kupatilo-->
  <!--)-->
<!--</p>-->




<div align="center">

  <hr>
  <h3> Add new Additional services </h3>

  <!--<form >-->
  <label></label>
  <!--<input [(ngModel)]="noviTip" type="text"  > <br> <br>-->
  <input #novi name="novi" type="text"  > <br> <br>
  <button (click)="add(novi.value)" class="btn btn-success"> Add </button>
  <!--</form>-->

  <hr>

  <table>

    <tr *ngFor="let n of niz" >
      <td >
        <input  type="checkbox"> <b> {{ n }} </b>
      </td>

      <td>
        <button (click)="brisi(niz.indexOf(n))" class="btn btn-danger" >  Delete </button>
      </td>

    </tr>

  </table>

  <!--<mat-checkbox [(ngModel)]="checked"  ngInit="checked=true">Check me!</mat-checkbox>-->



</div>

