<div class="container">
  <div class="col-md-4">

      <h3>Search</h3>
      <form  [formGroup] = "form"
      (ngSubmit) = "onSubmit(form.value, aditionServices)">
        <label>City * </label>
        <input class="form-control" id ="cityName1"  value="" type="text" class="form-control" name="cityName1"
               placeholder="Enter city " formControlName="cityName1">

        <br>
        <label >Number of persons * </label>
        <input class="form-control" value="" type="number" class="form-control" name="searchCity"
               formControlName="numberOfPersons1" placeholder="Number of persons" maxlength="4" min = "0" max = "9"  onKeyPress="if(this.value.length==4) return false;" onkeydown="javascript: return (event.keyCode > 47 && event.keyCode < 58 || event.keyCode == 08)" >
        <br>
        <label>Start date * </label>
        <input class="form-control" required="required"  name="searchSDT"  formControlName="searchSDT"  type="date"  (ngModelChange)="searchSDT = $event">
        <br>
        <label>End date *</label>
        <input class="form-control"  required="required"  name="searchEDT" type="date" formControlName="searchEDT" (ngModelChange)="searchEDT = $event">
        <br>

        <label>Type</label>
        <br>
        <select   class="form-control" name = "typeOfLodging" formControlName="typeOfLodging" >

          <option *ngFor="let tl of typeLod" value={{tl.label}}>{{tl.label}} </option>

        </select>
        <br>
        <label>Category</label>
        <br>
        <select   class="form-control" name = "categoryOfLodging" formControlName="categoryOfLodging">

          <option *ngFor="let cl of catLod"  value={{cl.label}}>{{cl.label}} </option>

        </select>
        <br>
        <details>
          <summary  class="form-control" ><b>Additional services </b></summary>
          <br>
        <div     *ngFor="let a of aditionServices " >
          <div>


              <label>{{ (a.name) }}</label>
              <input class="form-control" name={{a.id}}   id={{a.id}}  type="checkbox"  (change)="vrati(a.id)">

          </div>
        </div>
      </details>
        <br>
        <input class="form-control" type = "submit" [disabled]="!form.valid" value ="Search Lodging">

      </form>
      <br>
  </div>


  <div #mydiv>
    <table border="2" style="..." align="center" class="table">
      <tr>
        <th>City</th>
        <th>Address</th>
        <th>Number of persons</th>
        <th><a  (click)="sortByPrice2(lod)" >Price</a></th>
        <th><a (click)="sortByCategory(lod)">Category</a></th>
        <th>Details</th>
        <th>Image</th>
        <th>Reservation</th>

      </tr>

      <!--<tr *ngIf="p.user != null" >-->

      <tr   *ngFor="let p of lod" >
        <td>  {{  getCityName(p.city) }}</td>

        <!--<td> {{ vratiIme(p.user) }}</td>-->
        <td> {{ (p.address) }}</td>
        <!--<div>-->
        <td> {{(p.persons_number)}}</td>
        <td>{{getPriceListByLodging(p.id)}}</td>
        <td> {{getCategoryLabel(p.category)}}</td>
        <td> {{(p.details)}}</td>
        <td> {{(p.image)}}</td>
        <td >
          <button class="btn btn-primary" (click)="reserve(p.id)">Reserve</button>
        </td>

      </tr>

      <!--</div>-->
    </table>
    <br>

  </div>


  <br>

</div>
