#mydiv {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 60%;
  height: 18%;
  margin-top: 2%; /*set to a negative number 1/2 of your height*/
  margin-left: -25%; /*set to a negative number 1/2 of your width*/
  /*border: 1px solid #ccc;*/
  background-color: #f3f3f3;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
#inline{
  width:100%;
  height:auto;
  display:flex;}
.one,.two{width:50%;
  height:100px;
  margin:10px;}
input[type='submit']:hover
 {background-color: #b0dcff;}

input[type='submit']:disabled
 {background-color: #d5d6d6;}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.alert {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.alert.alert-info {
  color: #607D8B;
}

.alert.alert-error {
  color: red;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.help-block {
  width: 200px;
  color: white;
  background-color: gray;
}

.form-control {
  width: 200px;
  margin-bottom: 10px;
}

.sort-bar {

}

ul {
  margin : 0px;
  padding: 0px;
  list-style: none;


}

ul li {

  float : right;
  width: 200px;
  height: 40px;
  opacity: .8;
  line-height: 40px;
  font-size: 15px;
  background-color: #b0dcff;
  text-align: center;

}

ul li a{
  text-decoration: none;
  display: block;
  color: black;
}
ul li a:hover {
background-color: #b6ffe5;
}
ul li ul li{
  display: none;
}

ul li:hover ul li{
  display: block;
}
