<div class="container">
  <div class="col-md-4">

      <h3>Search</h3>
      <form>
        <label>City </label>
        <input [(ngModel)]="searchCity" value="" type="text" class="form-control" name="searchCity"
               placeholder="Enter city ">
        <br>
        <label>Number of persons </label>
        <input [(ngModel)]="searchPersonsNbr" value="" type="number" class="form-control" name="searchCity"
               placeholder="Number of persons ">
        <br>
        <button class="btn btn-primary" (click)="searchLodging()">Search lodging</button>
      </form>
      <br>
  </div>

  <div #mydiv>
    <table border="2" style="..." align="center" class="table">
      <tr>
        <th>City</th>
        <th>Address</th>
        <th>Number of persons</th>
        <th>Raiting</th>


      </tr>

      <!--<tr *ngIf="p.user != null" >-->
      <tr   *ngFor="let p of lod" >
        <td>  {{  getCityName(p.city) }}</td>

        <!--<td> {{ vratiIme(p.user) }}</td>-->
        <td> {{ (p.address) }}</td>
        <!--<div>-->
        <td> {{(p.persons_number)}}</td>
        <td> {{(p.rating)}}</td>
      </tr>

      <!--</div>-->
    </table>
  </div>

</div>
