<div class="col-md-2">
</div>
<div class="col-md-4 col-md-offset-2">
  <h3>Send message</h3>
  <form name="form"  (ngSubmit)="f.form.valid && sendMessage2()"  #f="ngForm" novalidate>
    <label>Title: </label>
    <input required="required" [(ngModel)]="msg.title" type="text" class="form-control" name="title"
           placeholder="Enter title">
    <label>Text of your message: </label>
    <textarea required="required" [(ngModel)]="msg.body" type="text" class="form-control" name="body"
              placeholder="Enter your text"></textarea>
    <br/>
  <input type="submit" value="Send" class="btn btn-warning">
  </form>
</div>
