<div class="col-md-2">
</div>
<div class="col-md-4 col-md-offset-2">
  <h3>Send message</h3>
  <form>
    <label>Title: </label>
    <input [(ngModel)]="msg.title" type="text" class="form-control" name="title"
           placeholder="Enter title">
    <label>Text of your message: </label>
    <input [(ngModel)]="msg.body" type="text" class="form-control" name="body"
           placeholder="Enter your text">
    <br>
    <button class="btn btn-warning" (click)="sendMessage2()">Send</button>
  </form>
</div>
