#mydiv {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 60%;
  height: 18%;
  margin-top: 2%; /*set to a negative number 1/2 of your height*/
  margin-left: -25%; /*set to a negative number 1/2 of your width*/
  /*border: 1px solid #ccc;*/
  background-color: #f3f3f3;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
#inline{
  width:100%;
  height:auto;
  display:flex;}
.one,.two{width:50%;
  height:100px;
  margin:10px;}
input[type='submit']:hover
{background-color: #b0dcff;}

input[type='submit']:disabled
{background-color: #d5d6d6;}

tr:nth-child(even) {
  background-color: #f2f2f2
}

