<a mat-button color="accent" href="certificates/newKeyStore">New Keystore</a>
<br>
<form class="example-form" action="certificates/keyStore">
  <mat-form-field>
    <mat-select placeholder="Choose keystore">
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter password:" value="keystore">
  </mat-form-field>
  <button type="submit" mat-mini-fab color="primary">Enter</button>
</form>






