<a mat-button color="accent" href="certificates/newKeyStore">New Keystore</a>
<br>
<form class="example-form" action="certificates/keyStore">
  <mat-form-field>
    <mat-select placeholder="Choose keystore" [(value)]="selected" >
      <mat-option *ngFor="let keyStore of keyStores" [value]="keyStore" >{{keyStore}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter password:" [(ngModel)]="password" name="password" >
  </mat-form-field>
  <button  mat-mini-fab color="primary" (click)="getKeyStore()">Enter</button>
</form>






