<div class="container">
  <div align="center">

    <h2 style="font-family:fantasy "> Enter values </h2>

    <table class="table">

      <tr>

        <td>Issuer</td>

        <td>
          <mat-form-field>
            <mat-select placeholder="Choose keystore" [(value)]="this.issuer">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let issuer of issuers" [value]="issuer">{{issuer}}</mat-option>
            </mat-select>
          </mat-form-field>

        </td>

      </tr>

      <tr>
        <td>Common Name (CN):</td>
        <td><input type="text" #CN name="CN"></td>  <!--ime -->
      </tr>

      <tr>
        <td>Surname (SN):</td>
        <td><input type="text" #SN name="SN"></td>  <!-- #prezime-->
      </tr>

      <tr>
        <td>Given Name (GN):</td>
        <td><input type="text" #GN name="GN"></td>   <!-- #jmbg -->
      </tr>


      <tr>
        <td>Organisation Name (ON):</td>
        <td><input type="text" #ON name="ON"></td>
      </tr>

      <tr>
        <td>Locality Name (LN):</td>
        <td><input type="text" #LN name="LN"></td>
      </tr>

      <tr>
        <td>Country (C):</td>
        <td><input type="text" #C name="C"></td>
      </tr>

      <tr>
        <td>Email (E):</td>
        <td><input type="text" #E name="E"></td>
      </tr>

      <tr>
        <td>for CA:</td>
        <td>
          <mat-checkbox [checked]="saveUsername" (change)="saveUsername = !saveUsername" #CA name="CA"></mat-checkbox>
        </td>
      </tr>


      <tr>
        <td colspan="2" align="center">
          <button class="btn btn-success" type="button"
                  (click)="getCertificate(CN.value,SN.value,GN.value,ON.value,LN.value,C.value,E.value,CA.value)">Create
          </button>
        </td>
      </tr>

    </table>
    <div id="poruka"></div>

  </div>
  <br>
  <a href="certificates" class="btn btn-primary">Back</a>
</div>
