<div class="container">
  <h3>Visited lodgings</h3>

  <div class="container" *ngFor="let lodging of lodgins">
    <div class="card">
      <br/>
      <div class="card bg-info text-white p5"  >
        <img src="{{(lodging.image)}}" class="img-fluid" alt="No image">

        <h4>{{lodging.title}}</h4>
        <br/><b>Adress: </b>  {{ (lodging.address) }}
        <br/><b>Rating: </b>{{(lodging.rating)}}
        <br/><b>Details: </b> {{(lodging.details)}}
      </div>


        <button class="btn btn-warning"  (click)="setCollapse(lodging.id)" > Comment and rate</button>

        <form *ngIf="isCollapsed(lodging.id)">
          <label for="rating">Rate (1-10): </label>
          <br/>
          <input [(ngModel)]="rating.star" type="number" id="rating" name="rating"
                 placeholder="Enter your rating(1-10)">
          <br/>
          <br/>
          <label >Comment:   </label>
          <br/>
          <textarea [(ngModel)]="com.body" type="text"  name="body"
                    placeholder="Enter your comment"></textarea>
          <br/>
          <button class="btn btn-warning" (click)="comment(lodging.id)">Send</button>
        </form>

    </div>
  </div>
</div>

