
<!-- Evo necemo sliku dirati posto nekad nece -->
<div align="center" >

  <h2 style="font-family:fantasy " > Enter values </h2>

  <table class="table">

    <tr>

      <td>Issuer</td>

      <td>
        <mat-form-field>
          <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let n of niz"  [value]="n.CN"> <div > {{n.CN}} </div>  </mat-option> <!-- *ngIf="CA.value == true" -->
            <!--<mat-option value="option2">Option 2</mat-option>-->
            <!--<mat-option value="option3">Option 3</mat-option>-->
          </mat-select>
        </mat-form-field>
      </td>

    </tr>

    <tr>
      <td>Common Name (CN):</td>
      <td> <input type="text" #CN name="CN" > </td>  <!--ime -->
    </tr>

    <tr>
      <td>Surname (SN):</td>
      <td> <input type="text" #SN name="SN" > </td>  <!-- #prezime-->
    </tr>

    <tr>
      <td>Given Name (GN):</td>
      <td> <input type="text" #GN name="GN" > </td>   <!-- #jmbg -->
    </tr>


    <tr>
      <td>Organisation Name (ON):</td>
      <td> <input type="text" #ON name="ON" > </td>
    </tr>

    <tr>
      <td>Locality Name (LN):</td>
      <td> <input type="text" #LN name="LN" > </td>
    </tr>

    <tr>
      <td>Country (C):</td>
      <td> <input type="text" #C name="C" > </td>
    </tr>

    <tr>
      <td>Email (E):</td>
      <td> <input type="text" #E name="E" > </td>
    </tr>

    <tr>
      <td>for CA: </td>
      <td> <mat-checkbox  #CA name="CA"  > </mat-checkbox> </td>   <!-- (click)="checked = true" -->
    </tr>

    <!-- -->

    <tr>
      <td colspan="2" align="center" > <button class="btn btn-primary" type="button" (click)="addNiz(CN.value,SN.value,GN.value,ON.value,LN.value,C.value,E.value,CA.value)" > Potvrdi kreiranje sertifikata </button> </td>
    </tr>

  </table>
  <div id="poruka" ></div>

  <hr>
  <h2 style="font-family:fantasy ">  </h2>

  <table class="table" >
    <tr>
      <th>Common Name (CN):</th>
      <th>Surname (SN):</th>
      <th>Given Name (GN):</th>
      <th>Organisation Name (ON):</th>
      <th>Locality Name (LN):</th>
      <th>Country (C):</th>
      <th>Email (E):</th>
      <th>Is checked (CA):</th>
    </tr>

    <tr *ngFor="let n of niz" >

      <td >
        {{n.CN}}
      </td>

      <td >
        {{n.SN}}
      </td>

      <td >
        {{n.GN}}
      </td>

      <td >
        {{n.ON}}
      </td>

      <td >
        {{n.LN}}
      </td>

      <td >
        {{n.C}}
      </td>

      <td >
        {{n.E}}
      </td>

      <td >
        {{n.CA}}
      </td>

    </tr>

  </table>

  <div style="color: blue;font-family: fantasy;font-size: 19px" align="center" id="brojProsecni" >
  </div>

</div>
<br>
<br><br>
