<!--<p> hotel, bed&breakfast, apartman </p>-->

<div align="center">

  <hr>
  <h3> Add new type of Lodging </h3>

  <!--<form >-->
  <label></label>
  <!--<input [(ngModel)]="noviTip" type="text"  > <br> <br>-->
  <input #novi name="novi" type="text"> <br> <br>
  <button (click)="add(novi.value)" class="btn btn-success"> Add</button>
  <!--</form>-->

  <hr>

  <table>

    <!--<tr>-->
    <!--<td>-->
    <!--<mat-checkbox> Hotel ! </mat-checkbox>-->
    <!--</td>-->
    <!--<td>-->
    <!--<button (click)="brisi()" class="btn btn-danger" >  Delete </button>-->
    <!--</td>-->
    <!--</tr>-->

    <!--<tr>-->
    <!--<td>-->
    <!--<mat-checkbox> Bed and breakfast ! </mat-checkbox>-->
    <!--</td>-->

    <!--<td>-->
    <!--<button (click)="brisi()" class="btn btn-danger" >  Delete </button>-->
    <!--</td>-->
    <!--</tr>-->

    <!--<tr>-->
    <!--<td>-->
    <!--<mat-checkbox> Apartman !  </mat-checkbox>-->
    <!--</td>-->
    <!--<td>-->
    <!--<button (click)="brisi()" class="btn btn-danger" >  Delete </button>-->
    <!--</td>-->

    <!--</tr>-->


    <tr *ngFor="let n of tip">
      <td>
        <input type="checkbox"> <b> {{ n.label }} </b>
      </td>

      <td>
        <!--<button (click)="brisi(niz.indexOf(n))" class="btn btn-danger" >  Delete </button>-->
        <button (click)="brisi(n.id)" class="btn btn-danger"> Delete</button>
      </td>

    </tr>

  </table>

  <!--<mat-checkbox [(ngModel)]="checked"  ngInit="checked=true">Check me!</mat-checkbox>-->


</div>
