<p>Dobrodosli u keyStore: {{this.keyStore.name}} </p>
<a mat-button color="primary" href="/certificates/newCertificate">New Certificate</a>
<button mat-button color="accent" (click)="exitKeyStore()"> Exit KeyStore</button>
<p>Ukupno sertifikata u keyStoru: {{this.keyStore.aliases.length}}</p>
<br>

<mat-list role="list">
  <h3 mat-subheader>Certificates</h3>
  <mat-list-item *ngFor="let alias of this.keyStore.aliases">
    <a href="/certificates/detail/{{alias}}">{{alias}}</a>
  </mat-list-item>
</mat-list>
